<!-- Categories Section  -->

<section class="categories">
    <div class="category-header">
        <h1>{{categoryTitle}}</h1>
    </div>
</section>

<!-- Jumbotron Section  -->

<section class="home" id="home">
    <div class="container">
        <div class="row">
            {{#each categories as |book|}}
            <div class="col" id="details">
                <img src="{{book.image_url}}" alt="" />
                <h1>{{book.title}}</h1>
                <h2>{{book.author}}</h2>
                <h3>{{book.rating}}/5</h3>
                <h4><a href="{{book.goodreads_url}}" target="_blank">View on GoodReads.com!</a></h4>
            </div>
            {{/each}}
        </div>
    </div>
    </div>
</section>