<section class="home" id="home">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src='{{image_url}}' alt="">
                <div class="col">
                    {{#if hasBook}}
                    <button id="add-btn" class="disabled" disabled>In Your Collection</button> <br>
                    <button id="delete-btn" class="btn-danger">Remove from Your Collection</button>
                    {{else}}
                    <button id="add-btn">Add to Your Collection</button>
                    {{/if}}
                </div>
            </div>
            <div class="col" id="details" data-id="{{id}}">
                <h1>{{title}}</h1>
                <h2>{{author}}</h2>
                {{!-- make this display stars instead of a number --}}
                <h3>GoodReads Rating: {{rating}}/5</h3>
                <h4>{{description}}</h4>
                <h4><a href="{{goodreads_url}}">View on GoodReads.com!</a></h4>
                <p>Genre: {{genre}}</p>
            </div>
        </div>
    </div>
</section>

{{!-- recommended books --}}

<section class="recommended" id="recommended">
    <h1 class="heading"><span>If you like this book, check these out!</span></h1>

    <div class="swiper recommended-slider">
        <div class="swiper-wrapper">
            {{#each recommendedBooks as |book|}}
            
            {{!-- get books for recommended books --}}
            <div class="swiper-slide box">
                <div class="image">
                <img src="" alt="" />
                </div>
                <div class="content">
                <h3 class="new-books"><a href="/search/{{book.[0]}}">{{book.[0]}}</a></h3>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

<script src="/js/chosen-book.js"></script>
<script src="/js/handle-book.js"></script>
